main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: auto;
    width: 100vw;
    padding-top: 50px;
}

.box {
    border-style: double;
    border-color: black;
    padding: 15px;
    margin: auto;
}